*{
    margin: 1px;

    padding: 0;
}

.all-items{
    display: grid;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.home-logo{
    height: 100px;
    text-align: center;

}

.search-bar-area{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(216, 216, 216);
}

.special-searches{
    background-color: #7EE5DA;
    width: 100%;
}

.help-vs{
    background-color: #70CCC2;
    width: 100%;

}

.subscribe{
    background-color: #5aa89f;
    width: 100%;

}

.copyright{
    text-align: center;
}

.shortcuts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1px 0 0 0;
}